@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.mybutton{
    background-image: linear-gradient(264deg, rgba(87,221,255,1) 53%, rgba(215,88,243,1) 100%, rgba(58,123,253,1) 100%);
    position: relative;
}
.mybutton::before{
    position: absolute;
    content: "";
    height: 50px;
    width: 50px;
    top:0;
    left: 0;
    background-image: linear-gradient(264deg, rgba(87, 221, 255, 0.445) 53%, rgba(215, 88, 243, 0.678) 100%, rgba(58, 123, 253, 0.678) 100%);
    animation: uttonb 2s linear infinite reverse;
    transition: .5s;
}
@keyframes uttonb {
    0%{
        width: 50px;
    }
    100%{
        width: 0;
    }
}
@media screen and (min-width:768px) {
    
    .li-desktop:hover{
        .desktop-submenu{
            display: block;
        }
    }
    .li-sterpc:hover{
        .ul-sterpc{
            display: block;
        }
    }
    .li-gaming-pc:hover{
        .ul-gaming-pc{
            display: block;
        }
    }
    .li-all-in-one:hover{
        .ul-all-in-one-pc{
            display: block;
        }
    }
    .li-brand-pc:hover{
        .ul-brand-pc{
            display: block;
        }
    }
    .li-portable-pc:hover{
        .ul-portable-pc{
            display: block;
        }
    }
    .li-laptop:hover{
        .ul-laptop{
            display: block;
        }
    }
    .li-all-laptop:hover{
        .ul-all-laptop{
            display: block;
        }
    }
    .li-gaming-laptop:hover{
        .ul-gaming-laptop{
            display: block;
        }
    }
    .li-ultrabook:hover{
        .ul-ultrabook{
            display: block;
        }
    }
    .li-ultrabook:hover{
        .ul-ultrabook{
            display: block;
        }
    }
    .li-laptop-bag:hover{
        .ul-laptop-bag{
            display: block;
        }
    }
    .li-laptop-acsosoris:hover{
        .ul-laptop-acsosoris{
            display: block;
        }
    }
    /* component */
    .li-component:hover{
        .ul-component{
            display: block;
        }
    }
    .li-prosesor:hover{
        .ul-prosesor{
          display: block;
        }
    }
    .li-cooler:hover{
        .ul-cooler{
          display: block;
        }
    }
    .li_water:hover{
        .ul_water{
          display: block;
        }
    }
    .li_motherbord:hover{
        .ul_motherbord{
          display: block;
        }
    }
    .li_graphics:hover{
        .ul_griphics{
          display: block;
        }
    }
    /* ups  */
    .li_UPS:hover{
        .ul_UPS{
            display: block;
        }
    }
    /* tablet */
    .li_tablet:hover{
        .ul_tablet{
            display: block;
        }
    }
}